nav{
display: grid;
grid-template-columns: 1fr 1fr;
padding:2%;
background-color: #009900;
font-size: 20px;
}
nav a{
  text-decoration: none;
  color: white;
  text-align: center;
}

  .sortering{
  background-color: #dfbf9f;
  margin-top: 1%;
  margin-bottom: 1%;
  font-size: 15px;
  background-color: white;
}
.hovedmain{
  background-color: #ccff99;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding-left: 7%;

}
.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    padding-left: 80%;

  }

  .dropdown-innhold{
    display:none;
    position: absolute;
    z-index: 1;
    background-color: white;
    padding: 1%;

  }
  .dropdown:hover .dropdown-innhold{
    display:block;
  }
div a{
  text-decoration: none;
  text-align: center;
  color: black;

}
span{
  font-size: 20px;
  color: #003300
}
body{
  margin-left: 10%;
  margin-right: 10%;

}
.link{
  display: block;
  text-align: center;
  border-style: outset;
  text-decoration: none;
  margin-right: 50%;
  color: #003300
}
.dtekst{
  text-align: center;
  font-size: 20px;
}
.dheader{
  text-align: center;
  color: #003300

}

.velg{
  background-color: #ccff99;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
h1{
  height: 50px;
  padding-bottom: 5%;
  font-size: 27px;
  padding-top:10px;

}
.skjema{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: #ccff99;
  padding-top: 5%;
  padding-left:40%;
  padding-bottom: 5%;
}
p{
  font-size: 17px;
}
